/* Nav Styles */
.ct-nav{
    display: flex;
    justify-content: space-between;
    background-color: #FF6961;
    border: 2px solid black;
}

/* Target Main Logo Image */

.ct-nav img {
    width:25%;
    max-width: 100%;
    margin-left: 2vw;
}
ul#horizontal-list{
    min-width: 696px;
    list-style: none;
    padding-top: 20px;

}

ul#horizontal-list li, ul#horizontal-list a{
    display: inline;
    text-decoration: none;
    padding: .5vw;
    color: black;
}

ul#horizontal-list a:nth-last-child(1){
    border: 2px solid blue;
    border-radius: 11px;
    margin-right: .2vw;
}
/* End of Navbar Styles */

/* Start of Header Section */
#header-text{
    padding: 2vw;
}

.header-image{
    width: 82%;
    max-width: 100%;
}
/* End of our Header Section Styles */

/* Start of our Middle Section */
#middle-text{
    text-align: center;
    padding: 13vh;
}

#middle-text h2{
    padding: 1.5vw;
}

/* End our Middle Section Styles */

/* Start of Feature section styles */
#api-image, #graphql-image, #database-image{
    margin-bottom: 10vh;
}

#features-section{
    margin: 8vw;
}

/* End of features section */

/* Community Section Styles */
#Drone-image{
    width: 50%;
    max-width: 75%;
    margin-left: 3vw;
}
/* End of Community Section */


/* Footer Styles Section */
.footer-text-flex{
    display: flex;
    flex-direction: column;
    margin-top: 3vw;
}

#footer-logo{
    width: 100%;
    max-width: 100%;
}

#footer{
    border-top: 3px solid black;
    margin-top: 20vh;
    background-color: #FF6961;
}

/* Profile Styles */

.hero-section{
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(255,0,0), rgb(255, 255, 255)), url(../images/pokemon_types.png);    
    background-size: cover;
    background-position: 35% 50%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    position: relative
}

.header-text{
    display: flex;
    justify-content: center;
    padding-top: 20%;
    left: 20rem;
    top: 10rem;
    color:white
}